main {
	max-width: 500px;
	margin: auto;
}
h1 {
	font-family: OpenSans-CondBold;
	font-size: 36px;
	margin-bottom: 0px;
}
h2 {
	font-size: 20px;
	border-bottom: double gray;
	padding: 5px 0px 10px 0px;
	margin-bottom: 10px;
}
h3 {
	font-family: OpenSans-CondBold;
	font-size: 25px;
	margin: 0px;
}
h4 {
	text-align: right;
	font-family: Arial;
	font-size: 12px;
	padding-top: 5px;
	border-top: double gray;
}
h5 {
	font-family: Arial;
	font-size: 10px;
}
a {
	color: #B93258;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul.blog {
	padding: 0px 0px 0px 15px;
}
li.blog {
	font-family: Arial;
	font-size: 14px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: list-item;
}
code {
	background-color: #E5E5E5;
	font-size: 13px;
	padding: 1px;
}
div.email {
	margin: 0px;
}
div.linkedin {
	margin: 0px;
}
div.github {
	margin: 0px;
}
div.twitter {
	margin: 0px;
}