main {
	max-width: 500px;
	margin: auto;
}
h1 {
	font-family: Pacifico;
	font-size: 40px;
	margin-bottom: 0px;
}
h2 {
	font-size: 20px;
	border-bottom: double gray;
	padding: 5px 0px 10px 0px;
	margin-bottom: 10px;
}
h3 {
	font-family: OpenSans-CondBold;
}
h4 {
	text-align: right;
	font-family: Arial;
	font-size: 12px;
	padding-top: 5px;
	border-top: double gray;
}
h5 {
	font-family: Arial;
	font-size: 10px;
}
ul.blog {
	padding: 0px 0px 0px 15px;
}
li.blog {
	font-family: Arial;
	font-size: 14px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: list-item;
}
code {
	background-color: #CCCCCB;
	font-size: 13px;
	padding: 10px;
}